* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header,
footer {
    background-color:#1F2937;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

h3 {
    color: #F9FAF8;
    font-size: 24px;
}

ul {
    list-style-type: none;
    font-size: 18px;
    margin: 0;
    padding: 8px;
    display: flex;
    justify-content: space-around;
    gap: 24px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: extra-bold;
}

.head {
    color: #E5E7EB;
    font-size: 18px;
}

button {
    color: #E5E7EB;
    background-color: #3882F6;
    font-size: 16px;
    font-weight: bolder;
    border-radius: 8px;
    padding: 8px 28px;
    border: none;
    width: 125px;
}

.main {
    width: 500px;
    height: 200px;
}

.upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    margin-bottom: 100px;
}

.down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
}

.lower-left {
    overflow-wrap: normal;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.information {
    max-width: 1400px;
    margin: 0 auto;
}
.wine {
    height: 175px;
    width: 175px;
    border-radius: 8px;
    border: 4px;
    border-style: solid;
    border-color: #3882F6;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    padding-top: 50px;
    padding-bottom: 50px;
}

.under {
    overflow-wrap: normal;
    max-width: 175px;
    text-align: center;
}

.photos {
    display: flex;
    justify-content: center;
    gap: 48px;
    padding-bottom: 100px;
}

.quote {
    background-color: #E5E7EB;
    padding-bottom: 75px;
}

.six {
    max-width: 1400px;
    margin: 0 auto;
}

.seven {
    color: #1F2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    overflow-wrap: normal;
    max-width: 800px;
    padding-top: 100px;
    padding-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
}

.name {
    font-size: 24px;
    font-weight: bolder;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
}

.action {
    padding-top: 75px;
    padding-bottom: 75px;
}

.eight {
    background-color: #3882F6;
    max-width: 925px;
    margin: 0 auto;
    border-radius: 8px;
    padding: 50px 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.second {
    color: #E5E7EB;
    font-size: 16px;
}

#fourth {
    border-style: solid;
    border-color: white;
    border-radius: 8px;
    border-width: 2px;
}

#final {
    color: #F9FAF8
}

.nine {
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: center;
    color: #F9FAF8;
}